<div v-if="!menu">
    <div class="text-center my-2 p-2 border-bottom">
        <h4 class="text-secondary">Affichage par défaut</h4>
    </div>
    <div class="my-4">
        <div class="text-center py-4">
            <h4>Bienvenu {{ user.first_name }} {{ user.last_name }} sur votre compte MyBA, votre banque en ligne!</h4>
            <h4 class="text-muted">Votre solde est [[ state?.balance ]] F CFA</h4>
        </div>        
    </div>
</div>
<div v-if="menu == 1" class="showInDown text-light">
    <div class="text-center my-2 p-2 border-bottom">
        <h4 class="text-secondary">Rétirer de l'argent vers un compte client</h4>
    </div>
    <div class="my-4">
        <div id="retrait_modal_id">
            <form action="" method="POST" class="text-start text-light">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="align-self-center">
                        <div class="form-group my-2 text-start">
                            <label for="accound_id" class="form-label">Numéro de compte:</label>
                            <input v-model="transaction.account_num" class="form-control" type="text" name="accound_id"
                                id="account_id" placeholder="Ex: 123456780N">
                        </div>
                    </div>
                    <div class="align-self-center">
                        <div class="form-group my-2">
                            <label for="d_balance_id" class="form-label">Montant en F CFA:</label>
                            <input v-model="transaction.balance" class="form-control" type="number" name="balance"
                                id="d_balance_id" placeholder="Ex: 5000">
                        </div>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label for="d_password" class="form-label">Confirmer votre mot de passe:</label>
                    <input v-model="transaction.user_password" class="form-control" type="password"
                        name="password" id="d_password" placeholder="Ex: ***********">
                </div>
                <div class="text-center my-3">
                    <button @click.prevent="receiveFrom" type="button" class="btn btn-success w-50"
                        v-if="!checking">Effectuer</button>
                    <button class="btn btn-success w-50" type="button" disabled v-if="checking">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Patientez...
                    </button>
                </div>
            </form>
        </div>      
    </div>
</div>
<div v-if="menu == 2" class="showInDown text-light">
    <div class="text-center my-2 p-2 border-bottom">
        <h4 class="text-secondary">Effectuer un Dépot de fonds vers un compte</h4>
    </div>
    <div class="my-4">
        <div id="retrait_modal_id">
            <form action="" method="POST" class="text-start text-light">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="align-self-center">
                        <div class="form-group my-2 text-start">
                            <label for="accound_id" class="form-label">Numéro de compte:</label>
                            <input v-model="transaction.account_num" class="form-control" type="text" name="accound_id"
                                id="account_id" placeholder="Ex: 123456780N">
                        </div>
                    </div>
                    <div class="align-self-center">
                        <div class="form-group my-2">
                            <label for="d_balance_id" class="form-label">Montant en F CFA:</label>
                            <input v-model="transaction.balance" class="form-control" type="number" name="balance"
                                id="d_balance_id" placeholder="Ex: 5000">
                        </div>
                    </div>
                </div>
                <div class="form-group my-2">
                    <label for="d_password" class="form-label">Confirmer votre mot de passe:</label>
                    <input v-model="transaction.user_password" class="form-control" type="password"
                        name="password" id="d_password" placeholder="Ex: ***********">
                </div>
                <div class="form-group my-2">
                    <label for="d_ref_id" class="form-label">Réference:</label>
                    <textarea v-model="transaction.ref" class="form-control" name="ref" id="d_ref_id" cols="30"
                        rows="2" placeholder="Entrer la réference(facultatif)"></textarea>
                </div>
                <div class="text-center my-3">
                    <button @click.prevent="sendTo" type="button" class="btn btn-success w-50"
                        v-if="!checking">Effectuer</button>
                    <button class="btn btn-success w-50" type="button" disabled v-if="checking">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Patientez...
                    </button>
                </div>
            </form>
        </div>      
    </div>
</div>
<div v-if="menu == 3" class="showInDown text-light">
    <div class="text-center my-2 p-2 border-bottom">
        <h4 class="text-secondary">Créer un compte admin moyen <br> (compte effectuant des transaction vers les comptes clients)</h4>
    </div>
    <div class="my-4">
        <div id="retrait_modal_id">
            <form action="" method="POST" class="text-start text-light">
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="align-self-center">
                        <div class="form-group mb-2 text-start">
                            <label for="first_name" class="form-label">Prénom:</label>
                            <input v-model="transaction.first_name" class="form-control" type="text" name="accound_id"
                                id="first_name" placeholder="Ex: John">
                        </div>
                    </div>
                    <div class="align-self-center">
                        <div class="form-group mb-2">
                            <label for="last_name" class="form-label">NOM:</label>
                            <input v-model="transaction.last_name" class="form-control" type="text" name="balance"
                                id="last_name" placeholder="Ex: DOE">
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="email" class="form-label">Email:</label>
                    <input v-model="transaction.email" class="form-control" type="email" name="email"
                        id="email" placeholder="Ex: exemple@exemple.com">
                </div>               
                <div class="row row-cols-1 row-cols-lg-2">
                    <div class="align-self-center">
                        <div class="form-group mb-2">
                            <label for="d_password" class="form-label">Mot de passe:</label>
                            <input v-model="transaction.password" class="form-control" type="password"
                                name="password" id="d_password" placeholder="Ex: ***********">
                        </div>
                    </div>
                    <div class="align-self-center">
                        <div class="form-group mb-2">
                            <label for="d_password2" class="form-label">Confirmer Mot de passe:</label>
                            <input v-model="transaction.password2" class="form-control" type="password"
                                name="password2" id="d_password" placeholder="Ex: ***********">
                        </div>
                    </div>
                </div>                
                <div class="text-center my-3">
                    <button @click.prevent="createUser" type="button" class="btn btn-success w-50"
                        v-if="!checking">Effectuer</button>
                    <button class="btn btn-success w-50" type="button" disabled v-if="checking">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Patientez...
                    </button>
                </div>
            </form>
        </div>      
    </div>
</div>
<div v-if="menu == 4" class="showInDown text-light">
    <div class="text-center my-2 p-2 border-bottom">
        <h4 class="text-secondary">Votre historique d'activité</h4>
    </div>
    <div class="my-4">
        <div id="retrait_modal_id">
            <div class="text-start">
                <div class="d-flex justify-content-end my-2">
                    <button @click="printModal" class="btn btn-secondary" title="Imprimer">
                        <i class="mdi mdi-printer mdi-24px"></i>
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-light">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Operation</th>
                                <th scope="col">Depuis</th>
                                <th scope="col">Vers</th>
                                <th scope="col">Montant</th>
                                <th scope="col">Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(t, k) in state?.operations">
                                <th scope="row"> [[ k + 1 ]] </th>
                                <td> [[ t.operation ]] </td>
                                <td> [[ t.user_from_str ]] </td>
                                <td> [[ t.user_to_str ]] </td>
                                <td>[[ t.balance ]]</td>
                                <td>[[ t.created_at ]]</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>      
    </div>
</div>