{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    {% include 'base/meta.html' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block 'title' %} {% endblock %} - MoneyFly - Votre Solution de Gestion de Banque en Ligne</title>
</head>

<body class="bg-auth"  style="height: 100vh;">
    <main class="">
        <div class="text-center">
            <div class="position-relative h-100 w-100">
                <div class="container">
                    <div class="mt-5 mx-auto w-100 row justify-content-center">
                        <div class="col col-lg-6 col-12 card bg-x-secondary text-light shadow p-3 rounded">
                            {% block 'main' %}

                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>