{% extends 'authentification/base.html' %}

{% block 'title' %} Se Connecter {% endblock %}

{% block 'main' %}

<form class="w-100" method="post">
    {% csrf_token %}
    <div class="py-3">
        <h1 class="h3 mb-2 fw-bold text-decoration-underline">Se Connecter</h1>
        <div class="py-2">
            <h6 class="text-muted">Connectez-vous pour gérer vos transactions monetaires en ligne sans soucis</h6>
        </div>
    </div>
    {% if error %}
    <div class="alert alert-danger m-3" role="alert">
        {{ error }}
    </div>    
    {% endif %}
    <div class="input-group mb-2">
        <label for="compte_num" class="input-group-text">Compte</label>
        <input name="account_num" type="text" class="form-control" id="compte_num" placeholder="MFLY-xxxxxxxx-21">        
    </div>
    <div class="input-group my-2">
        <label for="password_id" class="input-group-text">Mot de Passe</label>
        <input name="password" type="password" class="form-control" id="password_id" placeholder="*********">
    </div>
    <button class="btn btn-lg btn-success my-2" type="submit">Se connecter</button>
    <div>
        <a href="{% url 'register' %}" class="text-secondary">Vous n'avez pas un compte?</a>
    </div>
    <p class="mt-2 text-muted">&copy; 1999–2023</p>
</form>
{% endblock %}